<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_special_requests.css') }}">
    <script src="{{ url_for('static', filename='scripts_specials.js') }}"></script>
</head>
<body>
    <header>
        <a href="/" class="logo">Foodie</a>
        <div class="auth-buttons">
            {% if user_logged_in %}
                <a href="/" class="btn-back">Back to Order Page</a>
                <a href="{{ url_for('logout') }}" class="btn-logout">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn-login">Login</a>
            {% endif %}
        </div>
    </header>

    <div class="container">
        {% if user_logged_in %}
            <h1>Special Order</h1>
            <h2>Cravings not on the menu? Let us know what you want.</h2>
            <ul>
                <li>Dish or item you want that is not on the menu.</li>
                <li>Your order will be delivered at the preferred delivery date and time</li>
            </ul>
            <form method="POST">
                <div class="section">
                    <h3>State details about your special order here.</h3>
                    <textarea id="special_request" name="special_request" required oninput="autoResizeTextarea(event)" rows="5" cols="50">{{ request.special_request }}</textarea>
                </div>
                <h2 class="warning">Note:</h2>
                <ul>
                    <li>Same-day special orders are not allowed. Best we can do is deliver your special order in the next day.</li>
                    <li>Special orders would still go through approval.</li>
                    <li>Once you place a special order, we will contact you about your special order's status.</li>
                </ul>
                <button type="submit">Submit Request</button>
            </form>


        {% else %}
            <h1 class="message">Please log in to manage your special requests.</h1>
        {% endif %}
    </div>
</body>
</html>
